<div id="productsCarousel" class="carousel slide" data-ride="carousel" data-interval="false">

    <div class="carousel-inner" style="height: 250px;">
        <div class="item active">
            <img ng-src="{{::vm.currentProduct.img}}" class="img-thumbnail center-block" style="height: 250px;">
        </div>
    </div>

    <a class="carousel-control left" ui-sref="product({id: vm.prevProductId})">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="carousel-control right" ui-sref="product({id: vm.nextProductId})">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<h3 class="text-capitalize text-center" style="font-size: 30px;">
  {{::vm.currentProduct.title}}
  <small class="text-capitalize" ng-bind="::vm.currentProduct.text"></small>
</h3>
